<header>
  <h1 class="headername">{{title}}</h1>
</header>
<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <!-- <b>Parallax Window</b> -->
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>

<div ng-repeat="game in games">
  <div class="col-xs-4">
    <div class="gamebox">
      <h3>{{game.title}}</h3>
      <img ng-src="{{game.image}}" style="height: 70%; width: 70%"><br>
      <a ng-click="setCurrentGame(game.id)" href="/#/showpage">Details</a>
    </div>
  </div>
</div>
