<header>
  <h1 class="headername">{{title}}</h1>
</header>

<section>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="gameTitle" class="col-sm-3 control-label">Title of Game:</label>
      <div class="col-sm-6">
        <input type="text" ng-model="newGame.title" class="form-control" id="gameTitle" placeholder="Title">
      </div>
    </div>
    <div class="form-group">
      <label for="gameImage" class="col-sm-3 control-label">Game Image:</label>
      <div class="col-sm-6">
        <input type="text" ng-model="newGame.image" class="form-control" id="gameImage" placeholder="Image">
      </div>
    </div>
    <div class="form-group">
      <label for="gamePrice" class="col-sm-3 control-label">Price:</label>
      <div class="input-group col-sm-4">
        <div class="input-group-addon">$</div>
          <input type="text" ng-model="newGame.price" class="form-control" id="gamePrice" placeholder="Price">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="gameRating" class="col-sm-3 control-label">Game Rating:</label>
      <div class="col-sm-6">
        <input type="radio" ng-model="newGame.rating" id="gameRating" value="1" checked>
        <input type="radio" ng-model="newGame.rating" value="2">
        <input type="radio" ng-model="newGame.rating" value="3">
        <input type="radio" ng-model="newGame.rating" value="4">
        <input type="radio" ng-model="newGame.rating" value="5"><br>
      </div>
    </div>
    <div class="form-group">
      <label for="gameCategory" class="col-sm-3 control-label">Game Category:</label>
      <div class="col-sm-6">
        <input type="text" ng-model="newGame.category" class="form-control" id="gameCategory" placeholder="Category">
      </div>
    </div>
    <div class="form-group">
      <label for="gameInfo" class="col-sm-3 control-label">Game Info:</label>
      <div class="col-sm-6">
        <textarea ng-model="newGame.info" class="form-control" rows="5" id="gameInfo" placeholder="Info"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <button ng-click="addGame()" class="btn btn-default">Add Game</button>
      </div>
    </div>
  </form>
  <div class="container">
    <h4 class="alert alert-success" ng-show="successMessage"> {{ successMessage }} </h4>
  </div>
</section>
